body {
  padding: 0;
  margin: 0;
}

#page_quizResults-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 0%);
}

#quizResults-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quizResults-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}

#quizResults-header {
  font-family: "Clip", sans-serif;
  font-size: 10rem;
  color: hsl(0, 0%, 100%);
  text-shadow: 0 0 1rem hsl(215, 50%, 50%);
}

#quizResults-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 880px;
}

#content-left-side, #content-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 800px;
}

#content-left-side {
  padding: 1rem;
  gap: 10rem;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#input-label {
  font-size: 3rem;
  color: hsl(265, 75%, 45%);
}

#input-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 540px;
  height: 100px;
  border: none;
  background-color: transparent;
  background-image: url("../images/input-container.png");
  color: hsl(265, 75%, 45%);
  font-family: "Joystix";
  font-size: 2.5rem;
}

#keyboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#keyboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.keyboardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.keyboardKey {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  background-image: url("../images/key-unchecked.png");
  background-repeat: no-repeat;
  background-size: 65px 65px;
  font-family: "Joystix";
  font-size: 2rem;
  color: hsl(180, 100%, 50%);
}

.keyboardEnter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 65px;
  background-image: url("../images/enter.png");
  background-repeat: no-repeat;
  background-size: 130px 65px;
}

.keyboardBackspaceIcon {
  src: url("../images/backspace-icon.png");
  background-repeat: no-repeat;
  background-size: 32.5px 32.5px;
}

.keyboardEnterIcon {
  src: url("../images/enter-icon.png");
  background-repeat: no-repeat;
  background-size: 65px 32.5px;
}

.selected {
  background-image: url("../images/key-hover.png");
  color: hsl(0, 0%, 0%);
}

#leaderboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  height: calc(100vh - 200px);
}

#leaderboard-names-container, #leaderboard-scores-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#leaderboard-names-container {
  width: 60%;
}

#leaderboard-scores-container {
  width: 40%;
}

.leaderboard-head-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.leaderboard-head {
  font-size: 3.75rem;
  text-align: center;
  color: hsl(285, 90%, 70%);
}

.leaderboard-name, .leaderboard-score {
  height: -moz-fit-content;
  height: fit-content;
  font-size: 3rem;
  color: hsl(180, 100%, 50%);
}

.leaderboard-score {
  text-align: right;
}/*# sourceMappingURL=end.css.map */