$cyan-pastel: hsla(205, 70%, 65%, 1);
$cyan: hsla(180, 100%, 50%, 1);
$purple-pastel: hsla(260, 85%, 65%, 1);
$purple: hsla(265, 75%, 45%, 1);
$pink-pastel: hsla(300, 100%, 85%, 1);
$pink: hsla(285, 90%, 70%, 1);


#page_quiz-body-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

#quiz-section-divider {
    height: 5px;
    width: 100%;
    background-color: $cyan;
}

#quiz-container, #quiz-body-container, #quiz-header-container, #quiz-info-container, 
#quiz-scores-container, #quiz-score-container, #quiz-high-score-container, 
#quiz-progression-container, #quiz-timer-container, #quiz-progress-container,
#quiz-question-container, #quiz-body-container, #quiz-answers-container, .quiz-answer, 
#quiz-footer-container, #quiz-buttonNext-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#quiz-container {
    justify-content: end;
    width: 50%;
    height: fit-content;
}


#quiz-body-container {
    height: fit-content;
}


#quiz-info-container {
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
}

#quiz-scores-container, #quiz-progression-container {
    flex-direction: row;
    justify-content: space-evenly;
}

#quiz-score-title, #quiz-high-score-title, #quiz-timer-title/*, #quiz-progress-title*/ {
    font-size: 1.5rem;
}

#quiz-score, #quiz-high-score, #quiz-timer/*, #quiz-progress*/ {
    font-size: 4.5rem;
}

#quiz-timer-title { color: $cyan-pastel; }
#quiz-timer { color: $cyan; }
#quiz-high-score-title { color: $purple-pastel; }
#quiz-high-score { color: $purple; }
#quiz-score-title { color: $pink-pastel; }
#quiz-score { color: $pink; }


#quiz-question-container {
    height: 25vh;
    text-align: center;
}

#quiz-question {
    font-size: 2rem;
}


#quiz-answers-container {
    height: 50vh;
    gap: 2rem;
}

.quiz-answer {
    flex-direction: row;
    width: 720px;
    height: 100px;
    font-weight: bold;
    font-size: 1.25rem;
    color: $cyan;
    font-family: 'Joystix', sans-serif;
}

input[type="radio"] {
    display: none;
}

.answer-unchecked {
    background-image: url("../images/answer-unchecked-container.png");
    background-repeat: no-repeat;
    background-size: 720px 100px;
}

.answer-checked {
    background-image: url("../images/answer-checked-container.png");
    background-repeat: no-repeat;
    background-size: 720px 100px;
}

.answer-checked-correct {
    background-image: url("../images/answer-checked-correct-container.png");
    background-repeat: no-repeat;
    background-size: 720px 100px;
}

.answer-checked-wrong {
    background-image: url("../images/answer-checked-wrong-container.png");
    background-repeat: no-repeat;
    background-size: 720px 100px;
}

/*#quiz-buttonNext-container {
    height: 10vh;
    border: 2px solid black;
}*/