$label-color: hsla(180, 100%, 50%, 1);


#page_quiz-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz-container, #quiz-body-container, #quiz-header-container, #quiz-info-container, 
#quiz-scores-container, #quiz-score-container, #quiz-high-score-container, #quiz-timer-container,
#quiz-question-container, #quiz-body-container, #quiz-answers-container, .quiz-answer, 
#quiz-footer-container, #quiz-buttonNext-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#quiz-container {
    justify-content: end;
    width: 50%;
    height: fit-content;
}


#quiz-body-container {
    height: fit-content;
}


#quiz-info-container {
    flex-direction: row;
    justify-content: space-between;
    height: 25vh;
    padding-top: 4rem;
}

#quiz-scores-container {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: fit-content;
}

#quiz-timer-container {
    width: 30%;
}

#quiz-score-title, #quiz-high-score-title, #quiz-timer-title {
    padding-bottom: 1rem;
    font-size: 3.75rem;
    color: $label-color;
}

#quiz-score, #quiz-high-score, #quiz-timer {
    font-size: 2.5rem;
    color: $label-color;
}


#quiz-question-container {
    height: 25vh;
    padding-top: 4rem;
    text-align: center;
}

#quiz-question {
    font-size: 2rem;
}


#quiz-answers-container {
    height: 50vh;
    gap: 2rem;
}

.quiz-answer {
    flex-direction: row;
    width: 500px;
    height: 100px;
    font-weight: bold;
    font-size: 1.25rem;
    color: $label-color;
    font-family: 'VCR OSD', sans-serif;
}

input[type="radio"] {
    display: none;
}

.answer-unchecked {
    background-image: url("../images/answer-unchecked-container.png");
    background-repeat: no-repeat;
    background-size: 500px 100px;
}

.answer-checked {
    background-image: url("../images/answer-checked-container.png");
    background-repeat: no-repeat;
    background-size: 500px 100px;

}

/*#quiz-buttonNext-container {
    height: 10vh;
    border: 2px solid black;
}*/